.recipe {
  background-color: #414141;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.title {
  font-size: 22px;
  line-height: 1;
}

.ingredient {
  display: inline-block;
  background-color: #2e2e2e;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 2px 5px;
  margin: 3px;
}
